<!DOCTYPE html>
<html lang="en-us">
  <meta charset="utf-8">
  <title>Request402</title>
    <link rel="shortcut icon" href="//machine-payable.herokuapp.com/static/img/abstractdot.ico" />
  <body>
  <pre><code>
    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - HTTP(S) Request & Response Micropayments Service
    -----------------------------------------------------------------------------------------------------------------------

    You can easily use Request402 by running any of the following commands:

    /ip: Returns origin IP data: 
         $ 21 buy https://www.request402.org/ip
    /get: Returns GET data: 
         $ 21 buy https://www.request402.org/get?args="example text"
    /server-location: Returns server location data: 
         $ 21 buy https://www.request402.com/server-location?url=example.com
    /get_domain-status: Returns a websites HTTP status: 
         $ 21 buy https://www.request402.org/get_domain status?url=example.com
    /get_domain-ip: Returns a websites IP: 
         $ 21 buy https://www.request402.org/get_domain_ip?url=example.com
    /ssl-cert: Returns the public key of an HTTPS enabled url: 
         $ 21 buy https://www.request402.com/ssl-cert?url=example.com
    /company-contact: Returns company contact info: 
         $ 21 buy https://www.request402.com/company-contact?url=example.com
    /twitter: Returns social profiles and demographic data of username: 
         $ 21 buy https://www.request.402.com/twitter?username=exmaple
    /bitcoin: Returns Bitcoin wallet info: 
         $ 21 buy https://www.request402.com/bitcoin?address=example

    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - All endpoints cost between 5 - 2500 satoshis
    -----------------------------------------------------------------------------------------------------------------------
  </code></pred>
</html>
