<!DOCTYPE html>
<html lang="en-us">
  <meta charset="utf-8">
  <title>Request402</title>
    <link rel="shortcut icon" href="//machine-payable.herokuapp.com/static/img/abstractdot.ico" />
  <body>
  <pre><code>
    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - HTTP(S) Request & Response Micropayments Service
    -----------------------------------------------------------------------------------------------------------------------

    You can easily use Request402 by running any of the following commands:

    /ip: Returns origin IP data: 
         $ 21 buy https://www.request402.org/ip
    /get: Returns GET data: 
         $ 21 buy https://www.request402.org/get?args="example text"
    /server-location: Returns server location data: 
         $ 21 buy https://www.request402.com/server-location?url=example.com
    /domain-status: Returns a websites HTTP status: 
         $ 21 buy https://www.request402.org/domain status?url=example.com
    /domain-ip: Returns a websites IP: 
         $ 21 buy https://www.request402.org/domain_ip?url=example.com
    /ssl: Returns detailed Secure Sockets Layer data as JSON-encoded output.
         $ 21 buy https://www.request402.com/ssl?url=example.com
    /ssl-cert: Returns the public key of an HTTPS enabled url: 
         $ 21 buy https://www.request402.com/ssl-cert?url=example.com
    /blacklist: Return status of domain name and if it is on any blacklist
         $ 21 buy https://www.request402.com/blacklist?url=example.com
    /company-contact: Returns company contact info: 
         $ 21 buy https://www.request402.com/company-contact?url=example.com
    /twitter: Returns social profiles and demographic data of username: 
         $ 21 buy https://www.request.402.com/twitter?username=exmaple
    /bitcoin: Returns Bitcoin wallet info: 
         $ 21 buy https://www.request402.com/bitcoin?address=example

    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - All endpoints cost between 5 - 2500 satoshis
    -----------------------------------------------------------------------------------------------------------------------
  </code></pred>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('set', 'userId', {{USER_ID}}); // Set the user ID using signed-in user_id.
  ga('create', 'UA-84962779-1', 'auto');
  ga('send', 'pageview');

  </script>
</html>
