    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - Domain Data that's Plain & Simple
    -----------------------------------------------------------------------------------------------------------------------

    HTTP(S) Request & Response API for your Digital Assets.

    You can easily use Request402 by running any of the following commands:

    /ip: Returns origin IP data: 
         $ 21 buy https://www.request402.com/ip
    /get: Returns GET data: 
         $ 21 buy https://www.request402.com/get?args="example text"
    /server-location: Returns server location data: 
         $ 21 buy https://www.request402.com/server-location?url=example.com
    /domain-status: Returns a websites HTTP status: 
         $ 21 buy https://www.request402.com/domain status?url=example.com
    /domain-ip: Returns a websites IP: 
         $ 21 buy https://www.request402.com/domain_ip?url=example.com
    /domain_rank: Domain rankings from Alexa Internet:
         $ 21 buy https://www.request402.com/domain_rank?url=example.com
    /domain_search: Search for domain name availability:
         $ 21 buy https://www.request402.com/domain_search?url=example.com
    /domain_social_stats: Check the social stats of a domain
         $ 21 buy https://www.request402.com/domain_social_stats?url=example.com
    /domain_screenshot: Capture a screenshot of a domain
         $ 21 buy https://www.request402.com/domain_screenshot?url=example.com
    /ssl: Returns detailed Secure Sockets Layer data as JSON-encoded output.
         $ 21 buy https://www.request402.com/ssl?url=example.com
    /ssl-cert: Returns the public key of an HTTPS enabled url: 
         $ 21 buy https://www.request402.com/ssl-cert?url=example.com
    /blacklist: Return status of domain name and if it is on any blacklist
         $ 21 buy https://www.request402.com/blacklist?url=example.com

    -----------------------------------------------------------------------------------------------------------------------
    REQUEST402 - All endpoints cost between 5 - 2500 satoshis
    -----------------------------------------------------------------------------------------------------------------------
